<h2>Forgot Password</h2>

<form id="forgotPasswordForm">
    <table>        
        <tr>
            <td><label>Email</label></td>
        </tr>
        <tr>
            <td><input type="email" style="width:100%;margin-bottom:5px;" id="forgotEmail" placeholder="Enter Email" required /></td>
        </tr>        
        <tr>
            <td><button type="button" style="width:100%;" onclick="forgot()">Send Reset Link</button></td>
        </tr>
    </table>
</form>

<script>
    window.onload = function()
    {
        document.getElementById('forgotEmail')?.focus();
    }
</script>