<h2>Sales Invoice</h2>

<div class="container">
    <div>
        @Html.Partial("_SalesFormPartial")
    </div>
    <hr />
    <div>
        @Html.Partial("_SalesListPartial")
    </div>
    <hr />
    <div>
        @Html.Partial("_SalesDataListPartial")
    </div>
</div>
<script src="~/js/sale.js"></script>