<h2 class="mb-4">Parties</h2>
@if (TempData["PartyMessage"] != null)
{
    <div class="notification show" id="notifyMsg">
        @(TempData["PartyMessage"])
    </div>

    <script>
        setTimeout(() => {
            document.getElementById("notifyMsg").classList.remove("show");
        }, 2000); // stay 3s before hiding
    </script>
}
<form method="post" class="mb-4">
    @Html.Partial("_PartyFormPartial")
</form>

@Html.Partial("_PartyListPartial")

