html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background: #212529;
    color: #adb5bd;
    padding: 15px 0;
    margin-top: auto; /* push footer to bottom */
}

.notification {
    position: fixed;
    top: 5px;
    right: 20px;
    background-color: #4BB543;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    opacity: 0; /* hidden by default */
    pointer-events: none; /* no click blocking */
    transition: opacity 0.5s ease-in-out;
}

    .notification.show {
        opacity: 1; /* 👈 notification is faintly visible */
        pointer-events: auto;
        animation: fadeout 3s forwards; /* runs when shown */
    }

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    /* 👈 start faint */
    80% {
        opacity: 1;
    }
    /* 👈 stay faint */
    100% {
        opacity: 0;
    }
    /* 👈 fade out to invisible */
}